<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comtoise: your old clock with a geeky twist</title>
</head>
<body>
<h1>Comtoise: your old clock with a geeky twist!</h1>
<div id="current-timezone">
    <p>Current timezone: {{ timezone }}</p>
    <p>Timezone: #TODO Dropdown</p>
</div>
<div id="now">
    <ul>
        <li>Current time: {{ now_prose }}</li>
        <li>Epoch time: {{now_epoch}}</li>
        <li>ISO 8601 format: {{ now_iso }}</li>
        <li>ISO 8601 format - UTC : {{ now_iso_utc }}</li>
    </ul>
</div>

<div id="time-input">
    <ul>
        <li>
            <form action="/" method="POST">
                Enter an epoch time:
                <input name="from_epoch" value="{{now_epoch}}">
                <button type="submit" name="convert_from_epoch">Convert</button>
            </form>
        </li>
        <li>
            <form action="/" method="POST">
                Enter an ISO 8601 formatted timestamp:
                <input name="from_iso" value="{{now_iso}}">
                <button type="submit" name="convert_from_iso">Convert</button>
            </form>

        </li>
        <li>
            <form action="/" method="POST">
                Pick a date and time:#TODO datepicker
<!--                <button type="submit" name="convert_from_picker">Convert</button>-->
            </form>
        </li>
    </ul>
</div>
<div id="converted-time" class="{{ visibility }}">
    <ul>
        <li>Prose: {{ converted_prose }}</li>
        <li>ISO 8601: {{ converted_iso }}</li>
        <li>ISO 8601 (UTC): {{ converted_iso_utc }}</li>
        <li>Epoch: {{ converted_epoch }}</li>
    </ul>
</div>
</body>
</html>